name: CI

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm
      - run: npm ci

      - name: Lint
        run: npm run lint

      - name: Prettier check
        run: npm run format:check

      - name: Test
        run: npm run test:ci

      - name: Check version update for release
        if: github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'release')
        run: |
          git fetch origin main
          OLD_VERSION=$(git show origin/main:package.json | grep '"version"' | sed 's/.*"version": "\(.*\)".*/\1/')
          NEW_VERSION=$(grep '"version"' package.json | sed 's/.*"version": "\(.*\)".*/\1/')
          if [ "$OLD_VERSION" = "$NEW_VERSION" ]; then
            echo "Release PRにはpackage.jsonのversionを更新してください"
            exit 1
          fi