name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  
  jobs:
    test:
      runs-on: ubuntu-latest

      steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        id: eslint
        run: npm run lint
        continue-on-error: true

      - name: Run Prettier checkout
        id: Prettier
        run: npm run format
        continue-on-error: true

      - name: Run tests
        id: tests
        run: npm run test:ci
        continue-on-error: true

