name: Release

on:
  push:
    tags:
      - 'v*.*.*'
      - 'v*.*.*-beta.*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm
      - run: npm ci

      - id: build_chrome
        run: npm run build:chrome
      
      - id: build_edge
        run: npm run build:edge

      - id: package_chrome
        run: npm run package:chrome
      
      - id: package_edge
        run: npm run package:edge

      - id: publish_chrome
        run: npm run publish:chrome
        env:
          CHROME_CLIENT_ID: ${{ secrets.CHROME_CLIENT_ID }}
          CHROME_CLIENT_SECRET: ${{ secrets.CHROME_CLIENT_SECRET }}
          CHROME_REFRESH_TOKEN: ${{ secrets.CHROME_REFRESH_TOKEN }}
          CHROME_EXTENSION_ID: ${{ secrets.CHROME_EXTENSION_ID }}

      - id: publish_edge
        run: npm run publish:edge
        env:
          EDGE_CLIENT_ID: ${{ secrets.EDGE_CLIENT_ID }}
          EDGE_CLIENT_SECRET: ${{ secrets.EDGE_CLIENT_SECRET }}
          EDGE_TENANT_ID: ${{ secrets.EDGE_TENANT_ID }}
          EDGE_PRODUCT_ID: ${{ secrets.EDGE_PRODUCT_ID }}